span {
  color: brown;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding: 5%;
}
.half-width img {
  width: 100%;
}
.half-width h1 {
  font-size: 50px;
  padding: 10px 0px;
}
.half-width p {
  font-size: 20px;
  font-weight: 400;
}
.link-button {
  text-decoration: none;
  background-color: brown;
  padding: 10px 40px;
  border-radius: 5px;
  color: burlywood;
}
.flexible-area {
  display: flex;
}
.exp-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 75px gray;
}
.exp-item h1 {
  font-size: 40px;
}
h3 {
  color: cornflowerblue;
}
#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#baby-stack {
  border-left: 7px solid;
  border-image: linear-gradient(orange, red);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
